In [53]:
%load_ext autoreload
%autoreload 2
from pathlib import Path

path = Path("/mnt") / "e" / "datasets" / "Groceries_dataset.csv"

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [54]:
# !pip install mlxtend==0.23.1

In [55]:
import pandas as pd
df = pd.read_csv(path)

In [56]:
df.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38765 entries, 0 to 38764
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Member_number    38765 non-null  int64
 1   Date             38765 non-null  object
 2   itemDescription  38765 non-null  object
dtypes: int64(1), object(2)
memory usage: 908.7+ KB

In [58]:
"".join(sorted({*" ".join(df["itemDescription"])}))

' ()-./HITUabcdefghijklmnopqrstuvwyz'

In [59]:
item_types = set(df["itemDescription"])
item_types

{'Instant food products',
 'UHT-milk',
 'abrasive cleaner',
 'artif. sweetener',
 'baby cosmetics',
 'bags',
 'baking powder',
 'bathroom cleaner',
 'beef',
 'berries',
 'beverages',
 'bottled beer',
 'bottled water',
 'brandy',
 'brown bread',
 'butter',
 'butter milk',
 'cake bar',
 'candles',
 'candy',
 'canned beer',
 'canned fish',
 'canned fruit',
 'canned vegetables',
 'cat food',
 'cereals',
 'chewing gum',
 'chicken',
 'chocolate',
 'chocolate marshmallow',
 'citrus fruit',
 'cleaner',
 'cling film/bags',
 'cocoa drinks',
 'coffee',
 'condensed milk',
 'cooking chocolate',
 'cookware',
 'cream',
 'cream cheese ',
 'curd',
 'curd cheese',
 'decalcifier',
 'dental care',
 'dessert',
 'detergent',
 'dish cleaner',
 'dishes',
 'dog food',
 'domestic eggs',
 'female sanitary products',
 'finished products',
 'fish',
 'flour',
 'flower (seeds)',
 'flower soil/fertilizer',
 'frankfurter',
 'frozen chicken',
 'frozen dessert',
 'frozen fish',
 'frozen fruits',
 'frozen meals',
 'frozen potato products',
 'frozen vegetables',
 'fruit/vegetable juice',
 'grapes',
 'hair spray',
 'ham',
 'hamburger meat',
 'hard cheese',
 'herbs',
 'honey',
 'house keeping products',
 'hygiene articles',
 'ice cream',
 'instant coffee',
 'jam',
 'ketchup',
 'kitchen towels',
 'kitchen utensil',
 'light bulbs',
 'liqueur',
 'liquor',
 'liquor (appetizer)',
 'liver loaf',
 'long life bakery product',
 'make up remover',
 'male cosmetics',
 'margarine',
 'mayonnaise',
 'meat',
 'meat spreads',
 'misc. beverages',
 'mustard',
 'napkins',
 'newspapers',
 'nut snack',
 'nuts/prunes',
 'oil',
 'onions',
 'organic products',
 'organic sausage',
 'other vegetables',
 'packaged fruit/vegetables',
 'pasta',
 'pastry',
 'pet care',
 'photo/film',
 'pickled vegetables',
 'pip fruit',
 'popcorn',
 'pork',
 'pot plants',
 'potato products',
 'preservation products',
 'processed cheese',
 'prosecco',
 'pudding powder',
 'ready soups',
 'red/blush wine',
 'rice',
 'roll products ',
 'rolls/buns',
 'root vegetables',
 'rubbing alcohol',
 'rum',
 'salad dressing',
 'salt',
 'salty snack',
 'sauces',
 'sausage',
 'seasonal products',
 'semi-finished bread',
 'shopping bags',
 'skin care',
 'sliced cheese',
 'snack products',
 'soap',
 'soda',
 'soft cheese',
 'softener',
 'soups',
 'sparkling wine',
 'specialty bar',
 'specialty cheese',
 'specialty chocolate',
 'specialty fat',
 'specialty vegetables',
 'spices',
 'spread cheese',
 'sugar',
 'sweet spreads',
 'syrup',
 'tea',
 'tidbits',
 'toilet cleaner',
 'tropical fruit',
 'turkey',
 'vinegar',
 'waffles',
 'whipped/sour cream',
 'whisky',
 'white bread',
 'white wine',
 'whole milk',
 'yogurt',
 'zwieback'}

In [60]:
item_type_occurrences = df["itemDescription"].value_counts()
item_type_occurrences

itemDescription
whole milk               2502
other vegetables         1898
rolls/buns               1716
soda                     1514
yogurt                   1334
                         ...
rubbing alcohol             5
bags                        4
baby cosmetics              3
kitchen utensil             1
preservation products       1
Name: count, Length: 167, dtype: int64

In [61]:
# discard items with less than 100 occurrences
# item_type_occurrences = item_type_occurrences[item_type_occurrences > 100]

df = df[df["itemDescription"].isin(item_type_occurrences.index)]

In [62]:
gb = df.groupby(["Member_number", "Date"])
df2 = df.copy()
df2["itemDescription"] = gb["itemDescription"].transform(lambda x: ";".join(set(x)))
df2 = df2.drop_duplicates(subset=["Member_number", "Date"])
df2.drop(columns=["Date", "Member_number"], inplace=True)
df2["itemDescription"] = df2["itemDescription"].apply(lambda x: x.split(";"))

df3 = pd.get_dummies(df["itemDescription"])
df3[["Member_number", "Date"]] = df[["Member_number", "Date"]]
df3 = df3.groupby(["Member_number", "Date"]).sum() > 0

In [63]:
df3

                          Instant food products  UHT-milk  abrasive cleaner  \
Member_number Date
1000          15-03-2015                  False     False             False
              24-06-2014                  False     False             False
              24-07-2015                  False     False             False
              25-11-2015                  False     False             False
              27-05-2015                  False     False             False
...                                         ...       ...               ...
4999          24-01-2015                  False     False             False
              26-12-2015                  False     False             False
5000          09-03-2014                  False     False             False
              10-02-2015                  False     False             False
              16-11-2014                  False     False             False

                          artif. sweetener  baby cosmetics   bags  \
Member_number Date
1000          15-03-2015             False           False  False
              24-06-2014             False           False  False
              24-07-2015             False           False  False
              25-11-2015             False           False  False
              27-05-2015             False           False  False
...                                    ...             ...    ...
4999          24-01-2015             False           False  False
              26-12-2015             False           False  False
5000          09-03-2014             False           False  False
              10-02-2015             False           False  False
              16-11-2014             False           False  False

                          baking powder  bathroom cleaner   beef  berries  \
Member_number Date
1000          15-03-2015          False             False  False    False
              24-06-2014          False             False  False    False
              24-07-2015          False             False  False    False
              25-11-2015          False             False  False    False
              27-05-2015          False             False  False    False
...                                 ...               ...    ...      ...
4999          24-01-2015          False             False  False     True
              26-12-2015          False             False  False    False
5000          09-03-2014          False             False  False    False
              10-02-2015          False             False  False    False
              16-11-2014          False             False  False    False

                          ...  turkey  vinegar  waffles  whipped/sour cream  \
Member_number Date        ...
1000          15-03-2015  ...   False    False    False               False
              24-06-2014  ...   False    False    False               False
              24-07-2015  ...   False    False    False               False
              25-11-2015  ...   False    False    False               False
              27-05-2015  ...   False    False    False               False
...                       ...     ...      ...      ...                 ...
4999          24-01-2015  ...   False    False    False               False
              26-12-2015  ...   False    False    False               False
5000          09-03-2014  ...   False    False    False               False
              10-02-2015  ...   False    False    False               False
              16-11-2014  ...   False    False    False               False

                          whisky  white bread  white wine  whole milk  yogurt  \
Member_number Date
1000          15-03-2015   False        False       False        True    True
              24-06-2014   False        False       False        True   False
              24-07-2015   False        False       False       False   False
              25-11-2015   False        False       False       False   False
              27-05-2015   False        False       False       False   False
...                          ...          ...         ...         ...     ...
4999          24-01-2015   False        False       False       False    True
              26-12-2015   False        False       False       False   False
5000          09-03-2014   False        False       False       False   False
              10-02-2015   False        False       False       False   False
              16-11-2014   False        False       False       False   False

                          zwieback
Member_number Date
1000          15-03-2015     False
              24-06-2014     False
              24-07-2015     False
              25-11-2015     False
              27-05-2015     False
...                            ...
4999          24-01-2015     False
              26-12-2015     False
5000          09-03-2014     False
              10-02-2015     False
              16-11-2014     False

[14963 rows x 167 columns]

In [64]:
df3 = df3.reset_index().drop(columns=["Member_number", "Date"])

In [65]:
from mlxtend.frequent_patterns import apriori
result = apriori(df3, min_support=0.01, use_colnames=True)
result

     support                        itemsets
0   0.021386                      (UHT-milk)
1   0.033950                          (beef)
2   0.021787                       (berries)
3   0.016574                     (beverages)
4   0.045312                  (bottled beer)
..       ...                             ...
64  0.010559  (other vegetables, rolls/buns)
65  0.014837  (whole milk, other vegetables)
66  0.013968        (whole milk, rolls/buns)
67  0.011629              (whole milk, soda)
68  0.011161            (whole milk, yogurt)

[69 rows x 2 columns]

In [66]:
from mlxtend.frequent_patterns import association_rules
rules = association_rules(result, metric="confidence", min_threshold=0.1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(other vegetables),(whole milk),0.122101,0.157923,0.014837,0.121511,0.769430,-0.004446,0.958551,-0.254477
1,(rolls/buns),(whole milk),0.110005,0.157923,0.013968,0.126974,0.804028,-0.003404,0.964550,-0.214986
2,(soda),(whole milk),0.097106,0.157923,0.011629,0.119752,0.758296,-0.003707,0.956636,-0.260917
3,(yogurt),(whole milk),0.085879,0.157923,0.011161,0.129961,0.822940,-0.002401,0.967861,-0.190525